@font-face {
  font-display: swap;
  font-family: "Muller";
  font-weight: 400;
  src: url("../fonts/MullerRegular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Muller";
  font-weight: 500;
  src: url("../fonts/MullerMedium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Muller";
  font-weight: 800;
  src: url("../fonts/MullerExtraBold.woff2") format("woff2");
}
