:root {
  --main-gradient: linear-gradient(
    to left,
    #fe7a0e 0%,
    #fe7a0e 35%,
    #ff6659 100%
  );
  --lightest-color: #fefefe;
  --middle-dark-text-color: #878686;
  --price-color: #515151;
  --dark-text-color: #312a2a;
  --footer-background-color: #eef2d3;
  --color-brand: #f57710;
  --color-light-brand: #ffae6c;
}

$bp-mobile-small: 390px;
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1280px;
$bp-desktop-large: 1490px;
