.about-us-section {
  padding-bottom: 40px;
}

.about-us-section__container {
  display: flex;
  justify-content: space-between;
}

.about-us-section__content__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.about-us-section__text {
  max-width: 440px;
}

.about-us-section__decor-pizza-container-image {
  position: relative;
  display: flex;
  margin-top: 16px;
}

.about-us-section__decor-pizza-container-image::before,
.about-us-section__decor-pizza-container-image::after {
  position: absolute;
  bottom: 30px;
}

.about-us-section__decor-pizza-container-image::before {
  left: 70px;
}

.about-us-section__decor-pizza-container-image::after {
  right: 70px;
}

.about-us-section__main-image-wrapper {
  position: relative;
}

.about-us-section__main-image-wrapper::before,
.about-us-section__main-image-wrapper::after {
  position: absolute;
}

.about-us-section__main-image-wrapper::before {
  bottom: -30px;
  left: -50px;
}

.about-us-section__main-image-wrapper::after {
  top: -30px;
  right: -60px;
}
