@use '../utils/utils.scss' as utils;

.container {
  padding: 0 24px;

  @media screen and (min-width: utils.$bp-mobile) {
    padding: 0 44px;
  }

  @media screen and (min-width: utils.$bp-laptop) {
    padding: 0 60px;
  }

  @media screen and (min-width: utils.$bp-desktop) {
    padding: 0 80px;
  }
}
