@use '../utils/utils.scss' as utils;

.events-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 20px 20px;

  @media screen and (min-width: utils.$bp-mobile) {
    padding: 32px 20px;
  }

  @media screen and (min-width: utils.$bp-tablet) {
    padding: 50px 0 40px 24px;
  }

  @media screen and (min-width: utils.$bp-laptop) {
    padding: 80px 0 40px 24px;
  }

  &__title {
    max-width: 200px;
    margin-bottom: 32px;
  }

  &__link {
    padding: 8px 60px 4px;
    align-self: center;

    @media screen and (min-width: utils.$bp-mobile) {
      align-self: flex-start;
    }

    @media screen and (min-width: utils.$bp-tablet) {
      padding: 8px 64px 4px;
    }

    @media screen and (min-width: utils.$bp-laptop) {
      padding: 8px 80px 4px;
    }
  }
}
