.footer {
  padding: 16px 0 8px;
}

.footer .container {
  max-width: 1500px;
  margin: 0 auto;
}

.footer__navigation {
  display: flex;
  gap: 24px;
  margin-bottom: 28px;
}

.footer__navigation .logo {
  flex-grow: 0.5;
}

.footer__navigation-column {
  flex-grow: 1;
}

.footer__navigation-title {
  margin-bottom: 8px;
}

.footer__navigation-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__address {
  display: flex;
  justify-content: space-between;
}

.footer__icon-container {
  display: flex;
  gap: 12px;
}
