@use '../utils/utils.scss' as utils;

.header {
  &__container {
    display: flex;
    align-items: center;
    padding-top: 4px;

    @media screen and (min-width: utils.$bp-mobile) {
      padding: 0 44px;
    }

    @media screen and (min-width: utils.$bp-laptop) {
      padding: 0 50px;
    }

    @media screen and (min-width: utils.$bp-desktop) {
      padding: 0 80px;
    }
  }

  &__navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__navigation-list {
    display: none;

    @media screen and (min-width: utils.$bp-laptop) {
      display: flex;
      gap: 70px;
      margin: 0 auto;
    }
  }

  &__log-in-button {
    margin-right: 16px;
    padding: 8px 36px;
    display: none;

    @media screen and (min-width: utils.$bp-mobile) {
      display: block;
      margin-right: 24px;
      padding: 8px 48px;
    }

    @media screen and (min-width: utils.$bp-tablet) {
      margin-right: 24px;
      padding: 8px 48px;
    }
  }

  &__menu-button {
    margin-left: 16px;

    @media screen and (min-width: utils.$bp-tablet) {
      margin-left: 24px;
    }

    @media screen and (min-width: utils.$bp-laptop) {
      display: none;
    }
  }
}
