.header-container {
  display: flex;
  align-items: center;
  padding-top: 4px;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-navigation-list {
  display: flex;
  gap: 70px;
  margin: 0 auto;
}

.header__log-in-button {
  margin-right: 24px;
  padding: 8px 48px;
}

.header__cart-button {
  padding: 8px;
}
