.main-section {
  padding-top: 36px;
}

.main-section__container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.main-section__content__container {
  position: relative;
  align-self: center;
}

.main-section__content__container::after {
  position: absolute;
  bottom: -60px;
  right: -70px;
}

.main-section__title {
  position: relative;
}

.main-section__title::after {
  position: absolute;
  top: 20px;
  right: 20px;
}

.main-section__title div {
  display: flex;
}

.main-section__main-text {
  max-width: 300px;
  margin-bottom: 12px;
}

.main-section__describe-video-text {
  margin-bottom: 4px;
}

.main-section__video {
  margin-bottom: 20px;
}

.main-section__image-wrapper {
  position: relative;
}

.main-section__image-wrapper::before,
.main-section__image-wrapper::after {
  position: absolute;
}

.main-section__image-wrapper::before {
  bottom: -40px;
  left: -80px;
}

.main-section__image-wrapper::after {
  top: -30px;
  right: -80px;
}
