.menu-section__title {
  text-align: center;
  margin-bottom: 16px;
}

.menu-section__navigation {
  margin-bottom: 36px;
}

.menu-section__navigation-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.menu-section__navigation-button {
  padding: 12px 52px 8px;
}
