@use '../utils/utils.scss' as utils;

.popular-pizza-section {
  padding-top: 24px;

  @media screen and (min-width: utils.$bp-tablet) {
    padding-top: 16px;
  }

  @media screen and (min-width: utils.$bp-laptop) {
    padding-top: 8px;
  }

  &__pizza-card {
    &--top-indent {
      padding-top: 12px;
    }
  }

  &__title {
    text-align: center;
    padding: 70px 0;
    margin-bottom: 32px;

    @media screen and (min-width: utils.$bp-tablet) {
      padding: 90px 0;
    }

    @media screen and (min-width: utils.$bp-laptop) {
      padding: 112px 0;
    }

    @media screen and (min-width: utils.$bp-desktop) {
      padding: 124px 0;
    }
  }
}
