.about-us-section__decor-pizza-container-image::before,
.about-us-section__decor-pizza-container-image::after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 6px 24px 0px var(--dark-text-color);
}

.about-us-section__decor-pizza-container-image::before {
  background-image: url(../images/mushroom-pizza.webp);
  width: 140px;
  height: 140px;
}

.about-us-section__decor-pizza-container-image::after {
  background-image: url(../images/tomato-pizza.webp);
  width: 136px;
  height: 138px;
}

.about-us-section__decor-pizza-image {
  width: 146px;
  height: 146px;
}

.about-us-section__main-image-wrapper::before,
.about-us-section__main-image-wrapper::after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us-section__main-image-wrapper::before {
  background-image: url(../images/decore-images/french-fries.webp);
  width: 120px;
  height: 140px;
  transform: rotate(-20deg);
}

.about-us-section__main-image-wrapper::after {
  background-image: url(../images/decore-images/slice-of-pizza.webp);
  width: 150px;
  height: 104px;
}

.about-us-section__main-image {
  width: 566px;
  height: 390px;
}
