button.active {
  background-image: var(--main-gradient);
  box-shadow: 0 0 40px 4px rgba(255, 107, 0, 0.2);
}

button.not-active {
  color: var(--middle-dark-text-color);
  border: 2px solid var(--color-brand);
}
