@use '../utils/utils.scss' as utils;

.events-section {
  &__container {
    max-width: 400px;

    @media screen and (min-width: utils.$bp-mobile) {
      max-width: none;
    }
  }

  &__how-we-cooking-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/cut-slice-of-pizza-on-a-triangular-spatula.webp);
    background-position: center;

    &::before {
      content: '';
      background-image: url(../images/decore-images/egg-and-bacon.webp);
      background-repeat: no-repeat;
      background-size: contain;
      width: 70px;
      height: 80px;
      transform: rotate(-20deg);

      @media screen and (min-width: utils.$bp-tablet) {
        width: 90px;
        height: 100px;
      }

      @media screen and (min-width: utils.$bp-laptop) {
        width: 104px;
        height: 116px;
      }

      @media screen and (min-width: utils.$bp-desktop) {
        width: 120px;
        height: 134px;
      }

      @media screen and (min-width: utils.$bp-desktop-large) {
        width: 130px;
        height: 150px;
      }
    }
  }

  &__our-blog-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/woman-takes-a-slice-of-pizza-from-the-frying-pan.webp);
    background-position: center;
  }

  &__two-pizza-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/woman-eating-a-slice-of-pizza-at-the-table.webp);
    background-position: top;
  }

  &__kitchen-tour-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/dish-on-a-plate.webp);
    background-position: center 60%;

    &::after {
      content: '';
      background-image: url(../images/decore-images/shawarma.webp);
      background-repeat: no-repeat;
      background-size: contain;
      width: 80px;
      height: 90px;
      transform: scaleX(-1);

      @media screen and (min-width: utils.$bp-tablet) {
        width: 116px;
        height: 130px;
        transform: scaleX(-1) rotate(20deg);
      }

      @media screen and (min-width: utils.$bp-laptop) {
        width: 130px;
        height: 146px;
      }

      @media screen and (min-width: utils.$bp-desktop) {
        width: 142px;
        height: 160px;
      }

      @media screen and (min-width: utils.$bp-desktop-large) {
        width: 160px;
        height: 180px;
      }
    }
  }

  &__free-coffee-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/top-view-of-pizza-with-sausages-on-a-wooden-table.webp);
    background-position: top;

    &::before {
      content: '';
      background-image: url(../images/decore-images/cofee.webp);
      background-repeat: no-repeat;
      background-size: contain;
      width: 70px;
      height: 72px;

      @media screen and (min-width: utils.$bp-tablet) {
        width: 90px;
        height: 90px;
      }

      @media screen and (min-width: utils.$bp-laptop) {
        width: 100px;
        height: 100px;
      }

      @media screen and (min-width: utils.$bp-desktop) {
        width: 110px;
        height: 110px;
      }

      @media screen and (min-width: utils.$bp-desktop-large) {
        width: 120px;
        height: 120px;
      }
    }
  }

  &__instagram-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/man-and-a-woman-are-eating-something-from-a-jar.webp);
    background-position: center;
  }

  &__where-choose-us-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/slice-of-sausage-pizza-with-stringy-cheese.webp);
    background-position: center;
  }
}
