@use '../utils/utils.scss' as utils;

.footer {
  background-color: var(--footer-background-color);

  &__navigation-column {
    width: 132px;

    @media screen and (min-width: utils.$bp-tablet) {
      width: auto;
    }
  }

  &__navigation-link {
    color: var(--middle-dark-text-color);
    transition: 0.3s color, 0.3s transform, 0.3s text-shadow;

    &:hover {
      color: var(--color-brand);
      transform: scale(1.05);
      text-shadow: 0 0 4px var(--color-light-brand);
    }
  }

  &__phone {
    font-size: 14px;
    line-height: 1;
    font-style: normal;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s transform, 0.2s text-shadow;

    @media screen and (min-width: utils.$bp-mobile) {
      font-size: 16px;
      line-height: 1.5;
    }

    @media screen and (min-width: utils.$bp-tablet) {
      font-size: 18px;
    }

    &:hover {
      transform: scale(1.05);
      text-shadow: 0 0 4px var(--color-light-brand);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--main-gradient);
    transition: 0.2s transform;

    @media screen and (min-width: utils.$bp-mobile) {
      width: 24px;
      height: 24px;
    }

    &:hover {
      transform: scale(1.15);
    }
  }
}
