@use '../utils/utils.scss' as utils;

.header {
  &__navigation-list {
    font-size: 16px;
  }

  &__navigation-item {
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__link {
    transition: text-shadow 0.2s ease-in-out;

    &:hover {
      text-shadow: 0 0 16px var(--color-brand);
    }
  }

  &__log-in-button {
    font-size: 14px;
    border-radius: 12px;
    transition: transform 0.2s, box-shadow 0.2s;

    @media screen and (min-width: utils.$bp-tablet) {
      font-size: 16px;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 4px 0 var(--color-light-brand);
    }
  }
}
