.header-navigation-list {
  font-size: 16px;
}

.header__link {
  transition: transform 0.2s, text-shadow 0.2s;
}

.header__link:hover {
  transform: scale(1.125);
  text-shadow: 0 0 16px var(--color-brand);
}

.header__log-in-button {
  font-size: 16px;
  border-radius: 12px;
  background-image: var(--main-gradient);
  transition: transform 0.2s, box-shadow 0.2s;
}

.header__log-in-button:hover,
.header__cart-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px 0 var(--color-light-brand);
}

.header__cart-button {
  background-image: var(--main-gradient);
  border-radius: 12px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.header-icon {
  width: 24px;
  height: 24px;
  fill: var(--lightest-color);
}
