@use '../utils/utils.scss' as utils;

.icon-button {
  border-radius: 12px;

  &__icon {
    width: 16px;
    height: 16px;
    fill: var(--lightest-color);

    @media screen and (min-width: utils.$bp-tablet) {
      width: 24px;
      height: 24px;
    }
  }
}
