@use '../utils/utils.scss' as utils;

.logo {
  font-weight: 800;
  font-size: 28px;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 0.2s;

  @media screen and (min-width: utils.$bp-tablet) {
    font-size: 34px;
  }

  :hover {
    text-shadow: 0 0 16px var(--color-light-brand);
  }
}
