.main-section {
  &__content-container {
    &::after {
      content: '';
      background-image: url(../images/decore-images/big-arrow.webp);
      background-repeat: no-repeat;
      background-size: contain;
      width: 130px;
      height: 130px;
    }
  }

  &__title {
    font-size: 70px;

    &::after {
      content: '';
      background-image: url(../images/decore-images/small-arrow.webp);
      background-repeat: no-repeat;
      width: 104px;
      height: 40px;
    }
  }

  &__title-image {
    width: 80px;
    height: 84px;
  }

  &__main-text {
    &--accent {
      color: var(--color-brand);
    }
  }

  &__video {
    height: 350px;
    width: 450px;
    border-radius: 24px;
    border: none;
    transition: 0.5s box-shadow;

    &:hover {
      box-shadow: 0 4px 12px 0 var(--color-brand);
    }
  }

  &__image-wrapper {
    &::before {
      content: '';
      background-image: url(../images/decore-images/french-fries.webp);
      background-repeat: no-repeat;
      background-size: contain;
      width: 130px;
      height: 150px;
      transform: rotate(-20deg);
    }

    &::after {
      content: '';
      background-image: url(../images/decore-images/slice-of-pizza.webp);
      background-repeat: no-repeat;
      background-size: contain;
      width: 170px;
      height: 120px;
    }
  }

  &__image {
    width: 450px;
    height: 664px;
    border-radius: 46px;
  }
}
