@font-face {
    font-display: swap;
    font-family: 'Muller';
    font-weight: 400;
    src: url('../fonts/MullerRegular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Muller';
    font-weight: 500;
    src: url('../fonts/MullerMedium.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Muller';
    font-weight: 800;
    src: url('../fonts/MullerExtraBold.woff2') format('woff2');
}

:root {
    --main-gradient: linear-gradient(to right, #FE9C1C 0%, #FE9C1C 35%, #FF5D29 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Muller';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    max-width: 1500px;
    margin: 0 auto;
}

img,
video,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    font-family: 'Muller';
    font-weight: 500;
    border: none;
    background-color: transparent;
}

button.active {
    border: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

h1 {
    font-weight: 800;
    line-height: 1;
}

h2 {
    font-weight: 800;
    font-size: 42px;
    line-height: 1.2;
}

h3 {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.1;
}

h4 {
    font-weight: 400;
    font-size: 18px;
}

.active {
    background-image: var(--main-gradient);
}

.logo {
    font-weight: 800;
    font-size: 34px;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    padding: 0 80px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-navigation-list {
    font-size: 16px;
    display: flex;
    gap: 70px;
    margin: 0 auto;
}

.header__log-in-button {
    font-size: 16px;
    margin-right: 24px;
    padding: 8px 48px;
    border-radius: 12px;
    background-image: var(--main-gradient);
}

.header__cart-button {
    padding: 8px;
    background-image: var(--main-gradient);
    border-radius: 12px;
}

.header-icon {
    width: 24px;
    height: 24px;
}

section {
    padding: 24px 0;
}

.main-section__container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.main-section__content__container {
    align-self: center;
}

.main-section__title {
    font-size: 70px;
}

.main-section__title div {
    display: flex;
}

.main-section__title-image {
    width: 48px;
    height: 84px;
}

.main-section__main-text {
    max-width: 300px;
    margin-bottom: 12px;
}

.main-section__describe-video-text {
    margin-bottom: 4px;
}

.main-section__video {
    height: 350px;
    width: 450px;
    border-radius: 24px;
    border: none;
    margin-bottom: 20px;
}

.main-section__button-container button {
    font-size: 22px;
    background-image: none;
}

.main-section__button-container {
    width: fit-content;
}

.main-section__image {
    width: 456px;
    height: 684px;
    border-radius: 46px;
}

.menu-section__title {
    text-align: center;
    margin-bottom: 16px;
}

.menu-section__navigation {
    margin-bottom: 20px;
}

.menu-section__navigation-list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.menu-section__navigation-button {
    font-size: 22px;
    border-radius: 16px;
    padding: 12px 52px 8px;
    box-shadow: 0 10px 40px 0 rgba(255, 107, 0, 0.2);
}

.pizza-card__list {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    gap: 22px; 
}

.pizza-card__item {
    width: 300px;
    
}

.pizza-card__item article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.pizza-card__image {
    width: 160px;
    height: 158px;
}

.pizza-card__title {
    margin-bottom: 8px;
}

.pizza-card__pizza-sizes-list {
    display: flex;
    gap: 12px;
}

.pizza-card__pizza-size-button {
    font-weight: 400;
    font-size: 14px;
    border-radius: 50%;
    padding: 24px 20px 20px;
    border: 2px solid #A3A3A3;
}

.pizza-card__add-ingredients-button {
    font-weight: 400;
    font-size: 16px;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 12px 36px;
}

.pizza-card__count-container {
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
    width: 100%;
}

.pizza-card__price {
    font-weight: 500;
    font-size: 24px;
}

.pizza-card__button-pizza-count {
    font-weight: 400;
    font-size: 18px;
    border-radius: 50%;
    padding: 12px 15px 8px;
}

.pizza-card__button-order-pizza {
    font-size: 18px;
    background-image: var(--main-gradient);
    border-radius: 16px;
    padding: 12px 36px 8px;
}

.popular-pizza-section__title {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 124px 0;
    margin-bottom: 28px;
}

.events-section {
    padding-top: 40px;
}

.events-section__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 24px;
    grid-template-areas:
        "card2  card2  card3  card3  title  title"
        "card4  card4  card4  card5  card5  card5"
        "card6  card6  card7  card7  card8  card8";
}
.events-section__container > :nth-child(1) {
    grid-area: title;
}
.events-section__container > :nth-child(2) {
    grid-area: card2;
}
.events-section__container > :nth-child(3) {
    grid-area: card3;
}
.events-section__container > :nth-child(4) {
    grid-area: card4;
}
.events-section__container > :nth-child(5) {
    grid-area: card5;
}
.events-section__container > :nth-child(6) {
    grid-area: card6;
}
.events-section__container > :nth-child(7) {
    grid-area: card7;
}
.events-section__container > :nth-child(8) {
    grid-area: card8;
}

.events-section__title-container {
    text-align: end;
    max-width: 330px;
    justify-self: end;
    align-self: end;
}

.events-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0 40px 24px;
}

.events-card__title {
    text-transform: uppercase;
    max-width: 200px;
    margin-bottom: 32px;
}

.events-card__link {
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
    background-image: var(--main-gradient);
    border-radius: 16px;
    padding: 8px 80px 4px;
}

.about-us-section__container {
    display: flex;
    justify-content: space-between;
}

.about-us-section__content__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.about-us-section__text {
    max-width: 430px;
}

.about-us-section__decor-pizza-container-image {
    display: flex;
}

.about-us-section__decor-pizza-image {
    width: 146px;
    height: 146px;
}

.about-us-section__main-image {
    width: 566px;
    height: 390px;
}

.footer__navigation {
    display: flex;
    gap: 24px;
    margin-bottom: 28px;
}

.footer__navigation .logo {
    flex-grow: 0.5;
}

.footer__navigation-column {
    flex-grow: 1;
}

.footer__address {
    display: flex;
    justify-content: space-between;
}

.footer__phone {
    font-size: 18px;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer__icon-container {
    display: flex;
    gap: 8px;
}

.footer__icon {
    width: 24px;
    height: 24px;
    fill: var(--main-gradient);
}